@use 'colors' as colors;
@use 'constants' as constants;
:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px rgb(150, 150, 150);

  //fixed header
  position: fixed;
  top: 0;       // distance from top of viewport
  left: 0;      // distance from left of viewport
  width: 100%;
  height: constants.$header-height;

  background: colors.$color-background-main;
z-index: 9999; // make sure it's above everything *
}

.logo h1 {
  font-size: 2.5rem;
  margin-left: 80px;
  padding: 15px 0;
  font-family: "Revalia", sans-serif;
}

.header-contents {
  margin-right: 100px;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

.header-contents span {
  padding: 30px;
}

