@use "colors" as colors;
@use "constants" as constants;

:host {
  display: flex;
  justify-content: center;
}

.meeting-card {
  background: colors.$color-background-card;
  // border-radius: 8px;
  border: 1px solid colors.$color-border-primary;
  flex-grow: 1;
  max-width: 300px;
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background: colors.$color-card-hover;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: colors.$color-background-main;
  padding: 12px 16px;
  border-bottom: 1px solid colors.$color-border-primary;
}

.header-content {
  flex: 1;
  min-width: 0;
}

.meeting-title {
  margin: 0;
  font-size: constants.$font-large;
  font-weight: constants.$font-weight-semibold;
  color: colors.$color-text-primary;

  // Truncate to 2 lines with ellipsis
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; //displays ... if overflow

  line-height: 1.6;
  min-height: calc(1rem * 1.6 * 2);
}

.card-content {
  padding: 15px;
}

.info-grid {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    font-size: constants.$font-small;
    font-weight: constants.$font-weight-semibold;
    text-transform: uppercase;
    color: colors.$color-text-muted;
    letter-spacing: 0.5px;
  }

  .value {
    font-size: constants.$font-medium;
    font-weight: constants.$font-weight-medium;
    color: colors.$color-text-primary;
  }
}

.menu-btn-container {
  bottom: 4px;

  .menu-btn {
    cursor: pointer;
    background: colors.$color-background-main;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    bottom: 3px;
    right: 0;
    padding: 0 6px;
  }

  .menu-btn:hover {
    background: colors.$color-card-hover;
    border-radius: 50%;
  }
}
