@use "colors" as colors;
@use "constants" as constants;

.main-dialog {
  height: 38vh;
  width: 600px;
}

.panel-header {
    border-bottom: 1px solid colors.$color-border-primary;
}

.member-details-panel {
  flex: 1;
  background: colors.$color-background-card;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-input {
  font-size: constants.$font-large;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.half-width {
    flex: 1;
  }
}

.form-row {
  display: flex;
  gap: 16px;
}

.save-button {
  position: absolute;
  right: 15px;
  top: 25px;
  font-size: 14px;
  padding: 7px 12px;
}


@media (max-width: 768px) {
    .main-dialog {
	width: 90vw;
	height: fit-content;
    }

    .member-details-panel {
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 0;
	align-items: stretch;
	border:1px solid red;
    }

    .actual-form {
	align-self: stretch;
	min-width: 0;
	min-height: 0;
	flex-grow: 1;
    }

    .form-row {
	min-width: 0;
	min-height: 0; 
    }

    .form-group {
	min-width: 0;
	min-height:0;
    }

    input {
	min-width: 0;
    }
}
