@use "colors" as colors;
@use "constants" as constants;
.main-dialog {
  position: fixed !important;
  height: fit-content;
  max-height: 60vh;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 0 15px;

  width: 600px;
  &[open] {
    top: 20vh !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin: 0 !important;
  }
}

.search-bar {
    box-sizing: border-box;
}

.results {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 610px;  //slightly causing overflow to push the scrollbar more to the right
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 5px;
}


.committees, .members, .decisions, .agendas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid colors.$color-border-primary;
    padding: 10px;
}

.data {
    cursor: pointer;
    width: 100%;
    // border: 1px solid colors.$color-border-primary;
    height: fit-content;
    padding: 10px 7px;
    box-sizing: border-box;
}

.data:hover {
    text-decoration: underline;
    color: colors.$text-select-highlight;
}

.data-label {
  font-size: constants.$font-small;
  font-weight: constants.$font-weight-medium;
  color: colors.$color-text-secondary;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
