.main-dialog {
  position: fixed !important;
  height: fit-content;
  max-height: 80vh;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  &[open] {
    top: 20vh !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin: 0 !important;
  }
}

.search-bar {
    width: 400px;
}

.results {
    border: 1px solid red;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.data {
    cursor: pointer;
}
