<div class="committee-card">
  <div class="card-header">
    <div class="header-content">
      <h2 class="committee-name">
        {{ committeeSummary.name }}
      </h2>
    </div>
    <div class="menu-btn-container">
      <button class="menu-btn" (click)="toggleMenu($event)">⋯</button>
      <div class="menu-options" [class.hidden]="!showMenuOptions">
        <div class="menu-option" (click)="onEditOptionClick($event)">Edit</div>
        <div class="menu-option" (click)="onOverviewOptionClick($event)">
          New Meeting
        </div>
        <div class="menu-option" (click)="onOverviewOptionClick($event)">
          Overview
        </div>
        <div class="menu-option" (click)="onSummaryOptionClick($event)">
          Summary
        </div>
        <div class="menu-option" (click)="onArchiveOptionClick($event)">
          Archive
        </div>
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="description">
      <p>
        {{ committeeSummary.description }}
      </p>
    </div>

    <div class="info-grid">
      <div class="info-item">
        <span class="label">Members</span>
        <span class="value">{{ committeeSummary.numberOfMembers }}</span>
      </div>

      <div class="info-item">
        <span class="label">No. of Meetings</span>
        <span class="value"
          >{{ committeeSummary.numberOfMeetings }}
          @if (committeeSummary.maxNoOfMeetings) {
            /
            {{ committeeSummary.maxNoOfMeetings }}
          }
        </span>
      </div>

      <div class="info-item">
        <span class="label">Created</span>
        <span class="value">{{ committeeSummary.createdDate | date }}</span>
      </div>
    </div>
  </div>
</div>
