@use 'colors' as colors;
@use 'constants' as constants;
.heading {
    margin-bottom: 25px;
    font-size: constants.$font-xxl;
    font-weight: constants.$font-weight-semibold;
}


.summaryCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, max-content)); //max-content prevents the cards to grow beyond its natural siz
  justify-content: start;
  gap: 20px;
  scrollbar-gutter: stable;
  margin-right: 20px;
}



