@use 'colors' as colors;
@use 'constants' as constants;
.heading {
    margin-bottom: 25px;
    font-size: constants.$font-xxl;
    font-weight: constants.$font-weight-semibold;
}


.summaryCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 20px;
  gap: 20px;
  scrollbar-gutter: stable;
}



