@use 'colors' as colors;

:host {
  flex-grow: 1;  //take the remaining space in the flex container
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 20px;
  background-color: colors.$color-background-main;
}

.login-card {
  background: colors.$color-background-card;
  padding: 40px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  border: 1px solid colors.$color-border-primary;
}

.login-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 15px 0;
  letter-spacing: -0.5px;
  color: colors.$color-text-primary;
}

.login-sub-title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px 0;
  letter-spacing: 0.5px;
  color: grey;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.form-input {
  padding: 12px 20px;
  box-sizing: border-box;
  letter-spacing: 0.8px;
  margin-top: 10px;
}



.btn-primary {
  margin-top: 10px;
}

