@use "colors" as colors;
@use "constants" as constants;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 20px;
  padding-right: 20px;
}

.heading {
  font-size: constants.$font-xxl;
  font-weight: constants.$font-weight-semibold;
}

.sort-dropdown {
  gap: 20px;
  appearance: none;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid colors.$color-border-primary;
  background-color: colors.$color-background-main;
  cursor: pointer;
  transition: border-color 0.2s;
  color: colors.$color-text-primary;
  font-family: Roboto;

  &:hover {
    border-color: colors.$color-border-focus;
  }

  &:focus {
    border-color: colors.$color-border-focus;
  }
}

.summaryCards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(270px, 1fr)
  ); //305px because it is the minimum to get 3 cards when full screen
  gap: 20px;
  scrollbar-gutter: stable;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .summaryCards {
    margin-right: 0;
    padding-bottom: 20px;
  }
}
