<div #processedMinute>
  <div id="a4-box">
    <div class="introduction justify-text">
      <p class="introduction-body">
        आज मिति
        <span>{{ toNepaliDate(minuteData().meetingHeldDate) }}</span> (<span>{{
          minuteData().meetingHeldDate | date: "yyyy/MM/dd"
        }}</span
        >),
        <span>{{ getDay(minuteData().meetingHeldDate) + " " }}</span>
        <span>{{ minuteData().partOfDay + " " }}</span>
        <span>{{ toNepaliDigits(minuteData().meetingHeldTime) }}</span> बजे,
        <span>{{ minuteData().meetingHeldPlace }}</span> मा
        <span>{{ minuteData().committeeDescription }}</span> का लागि गठित
        <span>{{ minuteData().committeeName }}</span> समितिका संयोजक
        <span>{{ minuteData().coordinatorFullName }}</span
        >ज्यूको संयोजकत्वमा बैठक बसी देहाय बमोजिमका छलफल तथा निर्णय गरियो।
      </p>
    </div>

    <div class="memberships">
      <h5 class="heading"><b>उपस्थितिः</b></h5>
      <table border="2" cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            <th>क्र.सं.</th>
            <th>नाम</th>
            <th>पद</th>
            <th>हस्ताक्षर</th>
          </tr>
        </thead>
        <tbody>
          @for (
            membership of minuteData().participants;
            track membership;
            let i = $index
          ) {
            <tr>
              <td>{{ toNepaliDigits((i + 1).toString()) }}</td>
              <td>
                {{ membership.fullName }}
              </td>
              <td>{{ membership.role }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    @if (minuteData().agendas && minuteData().agendas.length > 0) {
      <div class="agendas">
        <h5 class="heading"><b>प्रस्तावहरु:</b></h5>
        <ol class="agenda-lists" style="list-style-type: none; padding-left: 0">
          @for (agenda of minuteData().agendas; track agenda; let i = $index) {
            <!-- inner html used to preserve the white spaces, binding trims the white spaces -->
            <li
              style="white-space: pre-wrap"
              class="decision"
              [innerHTML]="
                toNepaliDigits((i + 1).toString()) + '.   ' + agenda.agenda
              "
            ></li>
          }
        </ol>
      </div>
    }

    <div class="decisions">
      <h5 class="heading"><b>निर्णयहरूः</b></h5>
      <ol class="decision-lists" style="list-style-type: none; padding-left: 0">
        @for (
          decision of minuteData().decisions;
          track decision;
          let i = $index
        ) {
          <li
            class="decision"
            style="white-space: pre-wrap"
            [innerHTML]="
              toNepaliDigits((i + 1).toString()) + '.   ' + decision.decision
            "
          ></li>
        }
      </ol>
    </div>
  </div>
</div>
