//only add font related constants here

$font-normal: 0.9rem;
$font-small: 0.75rem;
$font-medium: 0.875rem;
$font-large: 1rem;
$font-xl: 1.25rem;
$font-xxl: 1.5rem;

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$header-height: 60px;
$sidebar-width: 60px;
$sidebar-height-mobile: 60px;
$app-committee-member-summaries-width: 230px;

$minute-width: 210mm;
