@use "constants" as constants;
@use "colors" as colors;

#a4-box {
  font-family: Roboto, "Annapurna", sans-serif;
  line-height: 1.8rem;
  background: white;
  // background: colors.$color-background-main;
  color: black;
  // border: 2px solid colors.$color-border-primary;
  // color: colors.$color-text-primary; 
  width: constants.$minute-width;
  height: 297mm;
  margin: 0 auto;
  padding: 30mm 20mm;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

p,
li,
td,
th {
  line-height: 1.6;
}

ol {
  list-style-position: outside; /* number stays outside */
}

li {
  text-indent: -1.5em; /* pulls first line back */
  padding-left: 1.5em; /* pushes the text block forward */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  // border: 1px solid black;
  border: 1px solid colors.$color-border-primary;
  text-align: left;
  white-space: nowrap; /* Prevents line wrapping in narrow columns */
}

th:last-child,
td:last-child {
  width: 100%; /* Take up the remaining space */
  white-space: normal; /* Allow wrapping in signature column */
}

.heading {
  font-weight: bold;
  text-decoration: underline;
}

ol {
  padding-left: 1.2rem;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.decision,
.agenda {
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.introduction,
.decisions,
.memberships,
.agendas {
  margin: 8px;
}

li,
ol {
  margin: 0;
}

.agenda-lists,
.decision-lists {
  margin-left: 13px;
}
