<!-- when this template is rendered for the first time, minuteData()() may not have been populated by the server, and it may be undefined   -->
<button class="btn btn-primary word-file-button" (click)="onPrint()">
    Download Word File 
</button>

<button class="btn btn-primary print-button" (click)="onPrint()">
    Download Pdf or Print
</button>
@if (minuteData() != undefined && minuteData().minuteLanguage === "NEPALI") {
  <app-minute-nepali-1 [minuteData]="minuteData()" class="target"></app-minute-nepali-1>
} @else if (
  minuteData() != undefined && minuteData().minuteLanguage === "ENGLISH"
) {
  <app-minute-english-1 [minuteData]="minuteData()"></app-minute-english-1>
}
<div></div>
