@use 'constants' as constants;
@use 'colors' as colors;

:host {
    height: 90vh;
    overflow: auto;
}

.minute {
  width: 210mm;
  position: relative;
  height: 297mm;
  overflow-y: auto;
}

.minute-options {
    position: fixed;
    left: 0px;
    width: constants.$sidebar-width;
    bottom: 0px;
    z-index: 9999;
    border-top: 1px solid colors.$color-border-primary;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    gap: 20px;
    font-size: constants.$font-normal;
}


.option:hover {
    color: colors.$text-select-highlight; 
    cursor: pointer;
}
