<div class="memberDetail-card">
  <div class="card-header">
    <div class="header-content">
      <h3 class="memberDetail-name">
        {{ memberDetail().firstName + " " + memberDetail().lastName }}
      </h3>
    </div>
    <div class="menu-btn-container">
	<button class="menu-btn" (click)="toggleMenuEvent($event)">⋯</button>
    </div>
  </div>

  <div class="card-content">
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Post</span>
        <span class="value">{{ memberDetail().post }}</span>
      </div>

      <div class="info-item">
        <span class="label">Title</span>
        <span class="value">{{ memberDetail().title }}</span>
      </div>
    </div>
  </div>
</div>
