<div class="search-container" [formGroup]="formData">
  <input
    type="text"
    class="search-input"
    formControlName="searchBarInput"
    placeholder="Search members..."
  />

  <div class="search-results">
    <!-- Selected Member -->
    @for (selectedMember of selectionService.selected(); track $index) {
      <div class="result-item">
        <span class="name">{{
          selectedMember.firstName + " " + selectedMember.lastName
        }}</span>

        <!-- select role -->
        <select
          [formControl]="memberRolesMap.get(selectedMember.memberId)!"
          (change)="onRoleChange(selectedMember)"
        >
          <option value="" selected>Select Role</option>
          <option value="member">Member</option>
          <option value="treasurer">Treasurer</option>
        </select>
      </div>
    } @empty {
      <div class="result-item">Select Someone</div>
    }

    @for (
      searchedMember of selectionService.searched();
      track $index + selectionService.selected().length - 1
    ) {
      <div class="result-item">
        <span class="name">{{
          searchedMember.firstName + " " + searchedMember.lastName
        }}</span>

        <!-- select role -->
        <select
          [formControl]="memberRolesMap.get(searchedMember.memberId)!"
          (change)="onRoleSelect(searchedMember)"
        >
          <option value="" selected>Select Role</option>
          <option value="member">Member</option>
          <option value="treasurer">Treasurer</option>
        </select>
      </div>
    } @empty {
      <div class="result-item">No Results Found</div>
    }
  </div>
</div>
