<div class="search-container" [formGroup]="formData">
  <input
    type="text"
    class="search-input"
    formControlName="searchBarInput"
    placeholder="Search members..."
  />

  <div class="search-results">
    <!-- Selected Member -->
    @for (selectedMemberWithRole of selectedMembersWithRole; track $index) {
      <div class="result-item">
        <span class="name">{{
          selectedMemberWithRole.member.firstName +
            " " +
            selectedMemberWithRole.member.lastName
        }}</span>

        <!-- select role -->
        <select
          [formControl]="
            memberRolesMap.get(selectedMemberWithRole.member.memberId)!
          "
          (change)="onRoleChange(selectedMemberWithRole.member)"
        >
          {{
            memberRolesMap
              .get(selectedMemberWithRole.member.memberId)!
              .setValue(selectedMemberWithRole.role)
          }}
          <option value="" selected>Select Role</option>
          <option value="member">Member</option>
          <option value="treasurer">Treasurer</option>
        </select>
      </div>
    } @empty {
      <div class="result-item">Select Someone</div>
    }

    @for (
      searchedMember of searchedMembers;
      track $index + selectedMembersWithRole.length - 1
    ) {
      <div class="result-item">
        <span class="name">{{
          searchedMember.firstName + " " + searchedMember.lastName
        }}</span>

        <!-- select role -->
        <select
          [formControl]="memberRolesMap.get(searchedMember.memberId)!"
          (change)="onRoleSelect(searchedMember)"
        >
          <option value="" selected>Select Role</option>
          <option value="member">Member</option>
          <option value="treasurer">Treasurer</option>
        </select>
      </div>
    } @empty {
      <div class="result-item">No Results Found</div>
    }
  </div>

  @if (selectedMembersWithRole.length > 0) {
    @for (selectedMember of selectedMembersWithRole; track $index) {
      {{ selectedMember.member.firstName }}
    }
  }
</div>
