<h3 class="heading">Meetings</h3>
<div class="meeting-summaries" [class.has-summaries]="meetingSummaries().length > 0">
  @for(meetingSummary of meetingSummaries(); track meetingSummary.id) {
  <app-meeting-summary [meetingSummary]="meetingSummary" routerLink="./minute" [queryParams] = "{meetingId: meetingSummary.id}" class="meeting-card"
      [queryParamsHandling]="'merge'"
  >
  </app-meeting-summary>
  } @empty {
  <p class="empty-state">This committee does not have any meetings as of now</p>
  }
<router-outlet></router-outlet>
