@use 'constants' as constants;

.heading {
    margin-bottom: 20px;
    font-size: constants.$font-xxl;
    font-weight: constants.$font-weight-semibold;
}
.member-summaries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-right: 40px;
  gap: 20px;
  scrollbar-gutter: stable;
}



