<div class="available-screen" (click)="closeMenuOptionsIfOpen()">
  <div class="heading">Your Members</div>

  @if (showMenuOptions) {
    <div
      class="menu-options"
      [class.hidden]="!showMenuOptions"
      [style.top.px]="dropdownTop"
      [style.right.px]="dropdownRight"
    >
      <div class="menu-option" (click)="onEditOptionClick($event)">Edit</div>
      <div class="menu-option">Minute</div>
    </div>
  }

  <div class="member-summaries">
    @if (memberDetailsLoaded) {
      @for (memberDetail of memberDetails; track memberDetail.memberId) {
        <app-member-summary
          [memberDetail]="memberDetail"
          (toggleMenu)="onMenuOptionClick($event)"
        ></app-member-summary>
      }
    }
  </div>
</div>
