@use "constants" as constants;
@use "colors" as colors;

.available-screen {
    width: 100%;
    height: 100%;
}

.heading {
  margin-bottom: 20px;
  font-size: constants.$font-xxl;
  font-weight: constants.$font-weight-semibold;
}
.member-summaries {
  display: grid;
  // grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(
    auto-fit,
    minmax(170px, 1fr)
  ); //170px because it is the minimum to get 6 cards when full screen
  gap: 20px;
  scrollbar-gutter: stable;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .member-summaries {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); //150px because it is the minimum to get 2 cards when mobile screen

    margin-right: 0;
  }
}

.menu-options {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  width: 100px;
  font-size: constants.$font-large;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  background: colors.$color-background-main;
  border-radius: 4px;
  gap: 20px;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .menu-option {
    text-align: left;
    color: colors.$color-text-primary;
    font-weight: constants.$font-weight-normal;
  }

  .menu-option:hover {
    color: white;
  }
}
