@use "constants" as constants;

.total-screen {
  display: flex;
  min-height: 90vh;
  margin-top: constants.$header-height;
}

app-sidebar {
  width: constants.$sidebar-width;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid #202225;
}

.main-content {
  margin-left: constants.$sidebar-width;
  flex-grow: 1;
  padding-left: 25px;
  padding-top: 16px;
}

.main-content.login-page {
  margin-left: 0;
}

////////////////////////////////////////////////////
// MOBILE RESPONSIVE STYLES

@media (max-width: 768px) {
  .total-screen {
    margin-top: 56px;  //for header
    min-height: calc(100vh - 56px - 60px);   //leaving out space for header and menu
    padding-bottom: 60px;
  }

  app-sidebar {
    width: 100vw;
    border-right: none;   //overriding from desktop view
  }

  .main-content {
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
  }

  .main-content.login-page {
    padding-bottom: 0;
  }
}
