.total-screen {
  display:flex;
  min-height: 90vh;
  margin-top: 4px; //avoids the header's shadow overlap
}

app-sidebar {
  width: 225px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid #202225;
}

// router-outlet {
//   flex-grow: 1;
//   border-left: 1px solid #202225;
//   border: 10px solid green;
// }

