@use "colors" as colors;
@use "constants" as constants;

:host {
  background: colors.$color-background-card;
  padding: 0px 0px;

  position: fixed;
  top: constants.$header-height; // distance from top of viewport
  left: 0; // distance from left of viewport
  width: constants.$sidebar-width;

  background: colors.$color-background-main;
  z-index: 9998; // make sure it's above everything but below the header

  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid colors.$color-border-primary;
  height: 100vh;
}

.sidebar-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: colors.$color-text-primary;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sub-menu {
  margin-left: 20px;
  border-left: 1px solid colors.$color-border-primary;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  flex-direction: row;
  flex: flex-start;
  align-items: center;
  padding: 12px 16px 12px 10px;
  color: colors.$color-text-secondary;
  text-decoration: none;
  border-radius: 0;
  transition: all 0.15s ease;
  cursor: pointer;
  height: 20px;

  gap: 10px;

  .icon {
    width: 30px;
  }

  .icon-selected * {
    stroke: #9acd32;
  }

  &:hover {
    background: colors.$color-background-input;
    color: colors.$color-text-primary;
  }

  &:active {
    background: colors.$color-background-main;
  }

  &.active {
    background: colors.$color-border-focus;
    color: #ffffff;
  }
}

.nav-text {
  font-size: 1rem;
  font-weight: 500;
}

.nav-text.sub {
  font-size: 0.9rem;
}

.selected {
  background: colors.$color-background-input;
  color: yellowgreen;
}

///////////////////////////////////////////////
//mobile styling
//////////////////////////////////////////////

@media (max-width: 768px) {
  :host {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    min-height: 60px;
    z-index: 9998;
    border-top: 1px solid colors.$color-border-primary;
  }

  .sidebar {
    flex-direction: row;
    height: 60px;
    border-right: none;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .nav-item {
    flex: 1;
    padding: 8px 4px;
    .icon {
	box-sizing: border-box;
	width: 100%;
    }

    // .create-committee {
      // transform: scale(1.5); //use if resize is needed
    // }
  }
  .nav-text {
    display: none;
  }

  //hide submenu
  .sub-menu {
    display: none;
  }
}
