<!-- @if (state == "login") { -->
<!--   <style> -->
<!--     :host { -->
<!--       display: none !important; -->
<!--       width: 0 !important; -->
<!--     } -->
<!--   </style> -->
<!-- } @else { -->
<div class="sidebar" [class]="state">
  <nav class="sidebar-nav">
    @if (state == "main-menu") {
    <a
      href="#"
      class="nav-item"
      routerLink="home/my-committees"
      routerLinkActive="selected"
    >
      <span class="nav-text">My Committees</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/create-committee"
      routerLinkActive="selected"
    >
      <span class="nav-text">Create Committee</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/create-member"
      routerLinkActive="selected"
    >
      <span class="nav-text">Create Member</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/archives"
      routerLinkActive="selected"
    >
      <span class="nav-text">View Archives</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/search-decision"
      routerLinkActive="selected"
    >
      <span class="nav-text">Search Decision</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/members-list"
      routerLinkActive="selected"
    >
      <span class="nav-text">Members List</span>
    </a>
    } @else if (state == "committee-menu") {
    <a
      href="#"
      class="nav-item"
      routerLink="committee-details/overview"
      routerLinkActive="selected"
      [queryParams]="getCommitteeQueryParams()"
    >
      <span class="nav-text">Committee Overview</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="committee-details/meetings"
      routerLinkActive="selected"
      [queryParams]="getCommitteeQueryParams()"
    >
      <span class="nav-text">View Meetings</span>
    </a>

    <a
      href="#"
      class="nav-item"
      routerLink="committee-details/edit"
      routerLinkActive="selected"
      [queryParams]="getCommitteeQueryParams()"
    >
      <span class="nav-text">Edit Committee</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="committee-details/summary"
      routerLinkActive="selected"
      [queryParams]="getCommitteeQueryParams()"
    >
      <span class="nav-text">Committee Summary</span>
    </a>

    <a
      href="#"
      class="nav-item"
      routerLink="home/my-committees"
      routerLinkActive="selected"
    >
      <span class="nav-text">Back to Home</span>
    </a>
    }
  </nav>
</div>
