<!-- @if (state == "login") { -->
<!--   <style> -->
<!--     :host { -->
<!--       display: none !important; -->
<!--       width: 0 !important; -->
<!--     } -->
<!--   </style> -->
<!-- } @else { -->
<div class="sidebar">
  <nav class="sidebar-nav">
    <a
      href="#"
      class="nav-item"
      routerLink="home/my-committees"
      routerLinkActive="selected"
    >
      <span class="nav-text">My Committees</span>
    </a>

    @if (subheading == "committee-menu") {
      <div class="sub-menu">
        <a
          href="#"
          class="nav-item"
          routerLink="committee-details/overview"
          routerLinkActive="selected"
          [queryParams]="getCommitteeQueryParams()"
        >
          <span class="nav-text sub">Overview</span>
        </a>
        <a
          href="#"
          class="nav-item"
          routerLink="committee-details/edit"
          routerLinkActive="selected"
          [queryParams]="getCommitteeQueryParams()"
        >
          <span class="nav-text sub">Edit Committee</span>
        </a>
        <a
          href="#"
          class="nav-item"
          routerLink="committee-details/summary"
          routerLinkActive="selected"
          [queryParams]="getCommitteeQueryParams()"
        >
          <span class="nav-text sub">Committee Summary</span>
        </a>
      </div>
    }

    <a
      href="#"
      class="nav-item"
      routerLink="home/create-committee"
      routerLinkActive="selected"
    >
      <span class="nav-text">Create Committee</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/create-member"
      routerLinkActive="selected"
    >
      <span class="nav-text">Create Member</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/archives"
      routerLinkActive="selected"
    >
      <span class="nav-text">View Archives</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/search-decision"
      routerLinkActive="selected"
    >
      <span class="nav-text">Search Decision</span>
    </a>
    <a
      href="#"
      class="nav-item"
      routerLink="home/members-list"
      routerLinkActive="selected"
    >
      <span class="nav-text">Members List</span>
    </a>
  </nav>
</div>
