:host {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px;
  gap: 30px;
  justify-content: flex-start;
  overflow-y: auto;

}
.editor-container {
  color: white;
  height: 20%;
  border: 1px solid red;
  padding: 20px;
  height: 80px;
  line-height: 2;
  overflow-y: auto;
}
