<div class="minute-edit-container">
  <div class="panel-header">
    <div class="pair">
      <h2>Edit Minute</h2>
      @if (minuteDataService.hasDataChanged()) {
        <button class="btn btn-primary">Save</button>
      }
    </div>
    <p class="panel-subtitle">Update meeting minute details and decisions</p>
  </div>

  <form class="actual-form">
    <div class="form-group">
      <label for="committee-name">Committee Name</label>
      <input
        id="committee-name"
        type="text"
        [(ngModel)]="minuteData().committeeName"
        placeholder="Enter committee name"
        class="form-input"
        name="committeeName"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="committee-description">Committee Description</label>
      <textarea
        id="committee-description"
        [(ngModel)]="minuteData().committeeDescription"
        placeholder="Enter committee description/aim "
        class="form-textarea"
        name="committeeDescription"
      ></textarea>
    </div>

    <div class="form-element-pair">
      <div class="form-group">
        <label for="meeting-date">Meeting Date</label>
        <input
          id="meeting-date"
          type="date"
          [(ngModel)]="minuteData().meetingHeldDate"
          class="form-input"
          name="meetingHeldDate"
        />
      </div>

      <div class="form-group">
        <label for="meeting-held-place">Meeting Place</label>
        <input
          id="meeting-held-place"
          type="text"
          [(ngModel)]="minuteData().meetingHeldPlace"
          placeholder="Enter meeting held place"
          class="form-input"
          name="meetingHeldPlace"
          autocomplete="off"
        />
      </div>
    </div>


    <div class="form-group">
      <label for="meeting-held-time">Meeting Time</label>
      <input
        id="meeting-held-time"
        type="time"
        [(ngModel)]="minuteData().meetingHeldTime"
        placeholder="Meeting time"
        class="form-input"
        name="meetingHeldTime"
        autocomplete="off"
      />
    </div>


    <div class="form-group">
      <div class="pair">
        <label>Agendas</label>
        <button class="btn btn-primary plus-button" (click)="createEmptyAgenda()"> + </button>
      </div>
      <div class="decisions-list">
        @for (agenda of minuteData().agendas; track agenda.agendaId) {
          <div class="decision-item">
            <input
              [(ngModel)]="agenda.agenda"
              placeholder="Double click to delete"
              class="form-input"
              [name]="'agenda-' + agenda.agendaId"
              autocomplete="off"
              (dblclick)="deleteAgenda(agenda.agendaId)"
            />
          </div>
        }
      </div>
    </div>

    <div class="form-group">
      <div class="pair">
        <label>Decisions</label>
        <button class="btn btn-primary plus-button" (click)="createEmptyDecision()"> + </button>
        </div>
      <div class="decisions-list">
        @for (decision of minuteData().decisions; track decision.decisionId) {
          <div class="decision-item">
            <input
              [(ngModel)]="decision.decision"
              placeholder="Enter decision"
              class="form-input"
              [name]="'decision-' + decision.decisionId"
              autocomplete="off"
              (dblclick)="deleteDecision(decision.decisionId)"
            />
          </div>
        }
      </div>
    </div>
  </form>
</div>
