@use 'colors' as colors;
@use 'constants' as constants;

dialog {
  max-width: 1200px;
}


.member-selection-panel {
  flex: 1;
  background: colors.$color-background-main;
  border-right: 1px solid colors.$color-border-primary;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.committee-details-panel {
  flex: 1;
  background: colors.$color-background-card;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  //have two form groups in a row share the space equally
  &.half-width {
    flex: 1;
  }
}

#committee-description {
    &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: colors.$color-background-card;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$color-border-primary;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #40444b;
  }

}

.form-row {
  display: flex;
  gap: 16px;
}

.form-input,
.form-textarea,
.form-select {
  padding: 12px 16px;
  background: colors.$color-background-input;
  border: 1px solid colors.$color-border-primary;
  border-radius: 6px;
  color: colors.$color-text-primary;
  font-size: 16px;
  font-family: inherit;
  transition: all 0.2s ease;

  &::placeholder {
    color: colors.$color-text-muted;
  }

  &:focus {
    outline: none;
    border-color: colors.$color-border-focus;
    background: colors.$color-background-input-hover;
  }

  &:hover:not(:focus) {
    border-color: colors.$color-background-input;
    background: colors.$color-background-input-hover;
  }
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
  line-height: 1.5;
}

.form-select {
  cursor: pointer;

  option {
    background: colors.$color-background-input;
    color: colors.$color-text-primary;
  }
}

.language-radio-group {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 3px;
}

.language-radio-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: colors.$color-text-primary;
  text-transform: none;
  font-size: constants.$font-normal;
}


.language-radio-item input[type='radio'] {
  appearance: none; // removes default browser style
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid colors.$color-border-primary;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.language-radio-item input[type='radio']:checked {
  background-color: colors.$color-button-primary;
}

.language-radio-item input[type='radio']:hover {
  border-color: #666;
}



