//This can be used because colors.scss and constsants.scss have been configured tbuild
@use "colors" as colors;
@use "constants" as constants;


.main-dialog {
  height: 50vh;
  width: 600px;
}

.member-details-panel {
  flex: 1;
  background: colors.$color-background-card;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.half-width {
    flex: 1;
  }
}


.form-row {
  display: flex;
  gap: 16px;
}




