<div class="details">
  <div class="detail-item">
    <span class="label">Name:</span>
    <span class="value">{{ committeeDetails.name }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Description:</span>
    <span class="value">{{ committeeDetails.description }}</span>
  </div>
  <div class="detail-item">
    <span class="label">Created Date:</span>
    <span class="value">{{ committeeDetails.createdDate}}</span>
  </div>
  <div class="detail-item">
    <span class="label">Created Date:</span>
    <span class="value">{{ committeeDetails.createdDate}}</span>
  </div>
</div>

<div class="pair">
  <app-member-summaries [memberSummaries]="committeeDetails.members"></app-member-summaries>
  <app-meeting-summaries [meetingSummaries]="committeeDetails.meetings"></app-meeting-summaries>
</div>

