
@use 'colors' as colors;
@use 'constants' as constants;
@import 'form_styles';
@import 'dialog_styles';
@import 'button_styles';
@import 'reset';




//SOME GLOBAL SYTLES


//FONT STYLES
.nepali-font {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 1px !important;
}


html,
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #36393f;
  color: #dcddde;
}

