@use "colors" as colors;
@use "constants" as constants;
@import "form_styles";
@import "dialog_styles";
@import "button_styles";
@import "reset";

//SOME GLOBAL SYTLES


@font-face {
  font-family: "Baloo";
  src: url("assets/fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* adjust if you know the weight range */
  font-style: normal;
  size-adjust: 115%; /* Makes Baloo 10% larger when used as fallback */
}


@font-face {
  font-family: "Annapurna";
  src: url("assets/fonts/AnnapurnaSIL-Regular.ttf") format("truetype");
  font-style: normal;
  size-adjust: 115%;
}

ht



html,
body {
  font-family: Roboto, "Baloo", sans-serif;
  font-weight: 400;
  background-color: #36393f;
  color: #dcddde;
  scrollbar-gutter: stable; //reserves space for scrollbar even when not visible to prevent layout shift
}


//empty container
.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: colors.$color-button-disabled-text;
  font-size: 1rem;
  font-style: italic;
  padding: 40px 0px;
  width: 100%;
}

/* Global scrollbar styling */
* {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: colors.$color-background-card;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$color-border-primary;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: colors.$color-background-input;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
