<div class="meeting-card">
  <div class="card-header">
    <div class="header-content">
      <h3 class="meeting-title">
        {{ meetingSummary().title }}
      </h3>
    </div>
  </div>

  <div class="card-content">
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Date</span>
        <span class="value">{{ meetingSummary().heldDate | date:'d MMM y' }}</span>
      </div>

      <div class="info-item">
        <span class="label">Time</span>
        <span class="value">{{ meetingHeldTime | date: 'hh: mm'}}</span>
      </div>

      <div class="info-item">
        <span class="label">Location</span>
        <span class="value">{{ meetingSummary().heldPlace }}</span>
      </div>
    </div>
  </div>
</div>

